main {
	font-family: 'Roboto', sans-serif;
	color: #0277BD;
	line-height: 1.6;
}
object{
	pointer-events: none;
}

.svgobs{
	height: 2.4rem;
	margin: .25rem .5rem;
	animation-name: svgobs;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes svgobs {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
.seperator{
	border-bottom: 2px solid #eee;
	width: 100%;
	margin: 1rem 0;
}

.contentwrap{
	margin: 0 auto;
	/*min-width: 90%;*/
	max-width: 760px;
}
.topcontainer{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.bottomcontainer{
	margin: .5rem 0;
}
.nameline{
	margin: 0;
	font-size: 3rem;
	animation-name: nameline;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



.titleline{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem 0;
	font-size: 1.065rem;
}

.iconline{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .125rem 0;
}
