test
body{
	background-color: seashell;
}
main {
	font-family: 'Roboto', sans-serif;
	color: #0277BD;
	line-height: 1.6;
}
object{
	pointer-events: none;
}


.svgobs{
	height: 2.4rem;
	margin: .25rem .5rem;
	animation-name: svgobs;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
@keyframes svgobs {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.seperator{
	border-bottom: 2px solid #bab5b5;
	width: 100%;
	margin: 1rem 0;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}

.contentwrap{
	margin: 0 auto;
	/*min-width: 90%;*/
	max-width: 760px;
}

.topcontainer{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bottomcontainer{
	margin: .5rem 0;
}

.nameline{
	margin: 0;
	font-size: 3rem;
}

.titleline{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .5rem 0;
	font-size: 1.065rem;
}

.iconline{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .125rem 0;
}

p{
	border-left:4.5px solid #0277bd;
	padding-left: 5px;
	border-radius:6px 0px 0px 6px;
	-moz-border-radius:6px 0px 0px 6px;
	-webkit-border-radius:6px 0px 0px 6px;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.nameline {
		font-size: 8.6vw;
		color: brown;
	}
	.titleline{
		font-size: 3.99vw;
	}
	h1{
		font-size: 5vw;
	}
	.svgobs{
		height: 6rem;
		margin: .35rem 3.5rem;
	}
	.seperator{
		border-bottom: 9px solid #bab5b5;
	}
	body{
		background: seashell;
	}
	p{
		padding-left: 3vw;
	}
}
