main {
	font-family: 'Roboto', sans-serif;
	color: #0277BD;
}

.contentwrap{
	margin: 0 auto;
	min-width: 90%;
}
.topcontainer{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nameline{
	margin: 0;
}
